<?xml version="1.0"?>
<launch>

  <arg name="serial_port" value="/dev/ttyACM1" />

  <node name="haptic_driver" pkg="mogi_haptic_device" type="haptic-driver" output="screen">
    <rosparam subst_value="true">
      serial_port: $(arg serial_port)
      publish_rate: 50.0
      serial_rate: 50.0
    </rosparam>
  </node>

</launch>
